@inject ICkeditorOptionsResolver editorOptionsResolver
@inject IStringLocalizer<CloudscribeCore> sr
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokens = antiforgery.GetAndStoreTokens(Context);
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions();
}
<div class="form-group" style="height:150px">
    <div class="">
        <div class="cs-crop-container" style="display:none">
            <img id="dzImage" style="max-width:300px;" src="/cr/images/690x517-placeholder.png" />
        </div>
        <div class="">
            <div id="dz1" class="cloudscribe-dropzone-standalone" style="cursor:pointer;"
                 data-dropzone=""
                 data-upload-url="@Url.Action("DropFile", "FileManager")"
                 data-anti-forgery-token="@tokens.RequestToken"
                 data-file-browse-url="@ckOptions.ImageBrowseUrl"
                 data-file-crop-url="@ckOptions.CropFileUrl"
                 data-target-path="/media/images/fromcomments"
                 data-create-thumb="false"
                 data-resize-image="true"
                 data-keep-original="false"
                 data-enable-browse-server="true"
                 data-enable-crop="false"
                 data-accepted-files="image/*"
                 data-target-fullsize-input-id="imgUrlIntegration"
                 data-target-resized-input-id=""
                 data-target-thumb-input-id=""
                 data-target-fullsize-image-id="dzImage"
                 data-target-resized-image-id=""
                 data-target-thumb-image-id=""
                 data-fullsize-placeholder-image="/cr/images/690x517-placeholder.png"
                 data-resized-placeholder-image=""
                 data-thumb-placeholder-image=""
                 data-resize-width=""
                 data-resize-height=""
                 data-crop-area-width=""
                 data-crop-area-height="">
                @sr["Drop file here or click to browse device for file."]
            </div>
            <div data-bind="visible: $root.allowImageBrowse() === true" class="pl-1 pt-1">
                <div class="">
                    <button id="dz1-browse-server" type="button" class="mb-1 btn btn-primary collapse">@sr["Browse Server"] <i class="fas fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <input id="imgUrlIntegration"  type="hidden" />
</div>
