@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@inject IStringLocalizer<SimpleContent> sr
@if ((Model.CurrentPost != null) && (!string.IsNullOrEmpty(Model.CurrentPost.Id)) && (Model.ShowComments) && Model.CurrentPost.PubDate.HasValue)
{
    <div id="divComments"
         data-talkabout-project-id="@Model.CurrentPost.BlogId"
         data-talkabout-thread-id="@Model.CurrentPost.Id"
         data-talkabout-thread-title="@Model.CurrentPost.Title"
         data-talkabout-thread-url="@Context.Request.GetCurrentFullUrl()"
         data-talkabout-thread-pub-date="@Model.CurrentPost.PubDate.Value.ToString("s")"
         data-talkabout-locale="@CultureInfo.CurrentCulture.Name"
         data-talkabout-data-url="@Url.Action("Index", "Talk")">
        <div data-bind="css: { 'nfs' : $root.allowImageUpload() === false }">
            <h3>@sr["Comments"]</h3>
            <div data-bind="template: { name:'commentList' }"></div>
            <div data-bind="template: { name:'newCommentForm' }"></div>
            <div id="divRecaptcha" class="g-recaptcha"
                 data-size="invisible">
            </div>

        </div>

        <noscript>@sr["Please enable javascript to view or post comments."]</noscript>
    </div>
    <partial name="TalkAboutCommentTemplatesPartial" />
    <partial name="TalkAboutDialogsPartial" />

}
