﻿@using cloudscribe.TalkAbout.Web.Components
@using Microsoft.AspNetCore.Authorization

@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@inject IStringLocalizer<SimpleContent> sr

@inject TalkAboutComments_SummernoteOptionsResolver talkAboutSummernoteOptions
@inject IAuthorizationService _authorizationService

@{
    var summernoteOptions = await talkAboutSummernoteOptions.GetSummernoteOptions();
    var canUpload = (await _authorizationService.AuthorizeAsync(User, "TalkAboutImageUpload")).Succeeded;
}

@if ((Model.CurrentPost != null) && (!string.IsNullOrEmpty(Model.CurrentPost.Id)) && (Model.ShowComments) && Model.CurrentPost.PubDate.HasValue)
{
    <div id="divComments"
         data-summernote-config-url="@summernoteOptions.CustomConfigPath"
         data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
         data-summernote-config-language="@summernoteOptions.LanguageCode"
         data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
         data-summernote-config-imageUploadAllowed="@canUpload"
         data-talkabout-project-id="@Model.CurrentPost.BlogId"
         data-talkabout-thread-id="@Model.CurrentPost.Id"
         data-talkabout-thread-title="@Model.CurrentPost.Title"
         data-talkabout-thread-url="@Context.Request.GetCurrentFullUrl()"
         data-talkabout-thread-pub-date="@Model.CurrentPost.PubDate.Value.ToString("s")"
         data-talkabout-locale="@CultureInfo.CurrentCulture.Name"
         data-talkabout-data-url="@Url.Action("Index", "Talk")">
        <div data-bind="css: { 'nfs' : $root.allowImageUpload() === false }">
            <h3>@sr["Comments"]</h3>
            <div data-bind="template: { name:'commentList' }"></div>
            <div data-bind="template: { name:'newCommentForm' }"></div>
            <!-- reCAPTCHA will be rendered here by JavaScript based on mode -->
            <div id="divRecaptcha"></div>

        </div>

        <noscript>@sr["Please enable javascript to view or post comments."]</noscript>
    </div>
    <partial name="TalkAboutCommentTemplatesPartial" />
    <partial name="TalkAboutDialogsPartial" />

}
